/*===========================
     01.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700|San:300,400,700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgba(4, 10, 17, 0.8);
  overflow-x: hidden;
  background: #F2F4F9;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "San", sans-serif;
  font-weight: 700;
  color: #2E2E2E;
  margin: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: rgba(4, 10, 17, 0.8);
  margin: 0px;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 25px;
  font-size: 16px;
  line-height: 48px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  background-color: #FFA92C;
}

.main-btn:hover {
  color: #fff;
  background-position: right center;
}

.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #FFA92C;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.back-to-top:hover {
  color: #fff;
  opacity: .8;
}

/*===== All Section Title Style =====*/
.section-title .sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #FFA92C;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .section-title .sub-title {
    font-size: 16px;
  }
}

.section-title .title {
  font-size: 32px;
  padding-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title .title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .section-title .title {
    font-size: 24px;
  }
}

.section-title .title span {
  font-weight: 400;
  display: contents;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0;
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.2353ms linear infinite;
  animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .ytp-spinner-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #FFA92C #FFA92C #E1E1E1;
  border-radius: 50%;
  border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #E1E1E1;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #E1E1E1;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

/*===========================
    02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.header-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #077DC1;
  padding: 12px 0;
  z-index: 999;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header-area.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 6px 0;
}

.header-area .menu-area .main-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25px;
}

.header-area .menu-area .main-menu a span.menu-icon {
  width: 23px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  margin-right: 15px;
}

.header-area .menu-area .main-menu a span.menu-icon::after, .header-area .menu-area .main-menu a span.menu-icon::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 3px;
  background: #fff;
  left: 0;
}

.header-area .menu-area .main-menu a span.menu-icon::before {
  top: -10px;
}

.header-area .menu-area .main-menu a span.menu-icon::after {
  bottom: -10px;
}

@media (max-width: 767px) {
  .header-area .menu-area .main-menu a span.menu-icon {
    display: block;
  }
}

.header-area .menu-area .main-menu a span {
  color: #fff;
}

@media (max-width: 767px) {
  .header-area .menu-area .main-menu a span {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area .menu-area .main-menu a span {
    display: block;
  }
}

.header-area .menu-area .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(4, 10, 17, 0.95);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 9;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header-area .menu-area .main-menu ul.active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.header-area .menu-area .main-menu ul .close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  color: #fff;
  z-index: 99;
}

.header-area .menu-area .main-menu ul li a {
  font-size: 20px;
  color: #fff;
  display: block;
  padding: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header-area .menu-area .main-menu ul li a:hover {
  color: #FFA92C;
}

.header-area .menu-area .language-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.header-area .menu-area .language-select .world-icon {
  font-size: 20px;
  color: #fff;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .header-area .menu-area .language-select .world-icon {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area .menu-area .language-select .world-icon {
    display: block;
  }
}

.header-area .menu-area .language-select .nice-select {
  background: transparent;
  font-size: 18px;
  color: rgba(4, 10, 17, 0.8);
}

.header-area .menu-area .language-select .nice-select::after {
  border-color: #fff;
}

.header-area .menu-area .language-select .nice-select .current {
  color: #fff;
}

.hero-area {
  padding-top: 210px;
  padding-bottom: 326px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area {
    padding-top: 170px;
    padding-bottom: 280px;
  }
}

@media (max-width: 767px) {
  .hero-area {
    padding-top: 170px;
    padding-bottom: 280px;
  }
}

.hero-area img {
  position: absolute;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area img {
    bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area img {
    bottom: 50px;
  }
}

@media (max-width: 767px) {
  .hero-area img {
    bottom: 50px;
  }
}

.hero-area .hero-content h2 {
  font-size: 65px;
  line-height: 75px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .hero-area .hero-content h2 {
    font-size: 45px;
    line-height: 55px;
  }
}

.overview-area {
  background: #077DC1;
}

.overview-area .overview-form-wrapper form input,
.overview-area .overview-form-wrapper form label,
.overview-area .overview-form-wrapper form select {
  width: 100%;
  margin-bottom: 35px;
}

.overview-area .overview-form-wrapper form label {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}

.overview-area .overview-form-wrapper form input {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 5px;
  height: 50px;
  padding: 0 30px;
  color: #fff;
}

.overview-area .overview-form-wrapper form .nice-select {
  width: 100%;
  background: rgba(255, 255, 255, 0.11);
  border: 1px solid #fff;
  border-radius: 5px;
  color: rgba(4, 10, 17, 0.8);
  margin-bottom: 35px;
}

.overview-area .overview-form-wrapper form .nice-select::after {
  border-color: #fff;
}

.overview-area .overview-form-wrapper form .nice-select .current {
  color: #fff;
}

.overview-area .overview-form-wrapper form .checkbox-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview-area .overview-form-wrapper form .checkbox-form input {
  width: auto;
  margin-bottom: 30px;
  height: auto;
}

.overview-area .overview-form-wrapper form .checkbox-form label {
  width: auto;
  margin-bottom: 30px;
  font-size: 15px;
}

.map-menu {
  margin-bottom: 20px;
}

.map-menu a {
  font-size: 16px;
  color: rgba(4, 10, 17, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 10px;
  border: 1px solid #E1E1E1;
}

.map-menu a span {
  width: 30px;
  margin-left: 10px;
}

.map-menu a span img {
  width: 100%;
}

.partner-area .partner-wrapper {
  background: #fff;
}

.partner-area .partner-wrapper .single-partner {
  padding: 25px;
  border-bottom: 1px solid rgba(4, 10, 17, 0.14);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .partner-area .partner-wrapper .single-partner .partner-img {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .partner-area .partner-wrapper .single-partner .partner-img {
    margin-bottom: 25px;
  }
}

.partner-area .partner-wrapper .single-partner .partner-details .single-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .partner-area .partner-wrapper .single-partner .partner-details .single-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
}

.partner-area .partner-wrapper .single-partner .partner-details .single-info h6 {
  width: 28%;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .partner-area .partner-wrapper .single-partner .partner-details .single-info h6 {
    margin-bottom: 3px;
  }
}

.partner-area .partner-wrapper .single-partner .partner-details .single-info p {
  font-size: 16px;
}

.partner-area .partner-wrapper .single-partner .partner-details .single-info p a {
  color: inherit;
  text-decoration: underline;
}

.partner-area .single-partner-details {
  background: #fff;
  padding: 40px 30px;
  margin-top: 30px;
}

.partner-area .single-partner-details .part-one {
  border-bottom: 1px solid #E1E1E1;
}

.partner-area .single-partner-details .part-one .part-one-left h4 {
  font-weight: 400;
  color: rgba(4, 10, 17, 0.8);
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .partner-area .single-partner-details .part-one .part-one-left .part-one-left-content {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .partner-area .single-partner-details .part-one .part-one-left .part-one-left-content {
    margin-bottom: 30px;
  }
}

.partner-area .single-partner-details .part-one .part-one-left .part-one-left-content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .partner-area .single-partner-details .part-one .part-one-left .part-one-left-content .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .partner-area .single-partner-details .part-one .part-one-left .part-one-left-content .item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}

.partner-area .single-partner-details .part-one .part-one-left .part-one-left-content .item p {
  font-family: "San", sans-serif;
  width: 40%;
  font-size: 16px;
  font-weight: 700;
  color: #040A11;
}

.partner-area .single-partner-details .part-one .part-one-right .part-one-right-content {
  margin-bottom: 15px;
}

.partner-area .single-partner-details .part-one .part-one-right .part-one-right-content h6 {
  background: rgba(4, 10, 17, 0.3);
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 15px;
}

.partner-area .single-partner-details .part-one .part-one-right .part-one-right-content a {
  color: rgba(4, 10, 17, 0.8);
  font-size: 18px;
  line-height: 34px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.partner-area .single-partner-details .part-one .part-one-right .part-one-right-content a:hover {
  color: #FFA92C;
}

.partner-area .single-partner-details .part-two {
  border-bottom: 1px solid #E1E1E1;
  padding-top: 20px;
}

.partner-area .single-partner-details .part-two h4 {
  margin-bottom: 20px;
}

.partner-area .single-partner-details .part-three {
  padding-top: 20px;
}

.partner-area .single-partner-details .part-three h4 {
  margin-bottom: 20px;
}

.contact-area {
  margin-bottom: 90px;
}

.contact-area .contact-wrapper {
  background: #fff;
  padding: 40px 30px;
  -webkit-box-shadow: 0px 0px 48px rgba(209, 209, 209, 0.16);
  box-shadow: 0px 0px 48px rgba(209, 209, 209, 0.16);
}

.contact-area .contact-wrapper h4 {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-area .contact-wrapper .contact-form-wrapper {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .contact-area .contact-wrapper .contact-form-wrapper {
    margin-bottom: 50px;
  }
}

.contact-area .contact-wrapper .contact-form-wrapper form label {
  font-size: 18px;
  color: #040A11;
  margin-bottom: 15px;
  width: 100%;
}

.contact-area .contact-wrapper .contact-form-wrapper form input {
  width: 100%;
  height: 50px;
  padding: 0 30px;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
  margin-bottom: 20px;
}

.contact-area .contact-wrapper .contact-form-wrapper form input[type=checkbox] {
  width: auto;
  height: auto;
  margin-bottom: 0px;
}

.contact-area .contact-wrapper .contact-form-wrapper form .checkbox-label {
  width: auto;
  margin-left: 15px;
}

.contact-area .contact-wrapper .contact-form-wrapper form button {
  margin-bottom: 20px;
}

.footer-area {
  background: #0B1829;
  padding-top: 115px;
}

.footer-area .footer-widget {
  color: #fff;
  line-height: 1.9;
  margin-bottom: 60px;
}

.footer-area .footer-widget h5 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

.footer-area .footer-widget a {
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-area .footer-widget a:hover {
  color: #FFA92C;
}

.footer-area .copy-right {
  padding: 30px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.18);
}

.footer-area .copy-right p a {
  color: #fff;
}

.footer-area .copy-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer-area .copy-right ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
}

.footer-area .copy-right ul li {
  margin: 0 10px;
}

.footer-area .copy-right ul li:first-child {
  margin-right: 0px;
}

.footer-area .copy-right ul li:last-child {
  margin-right: 0px;
}

.footer-area .copy-right ul li a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-area .copy-right ul li a:hover {
  background: #fff;
  color: #FFA92C;
}
/*# sourceMappingURL=style.css.map */